@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* SETUP E UTILIDADES */
:root {
  --clr-vermelho: #e02d2d;
  --clr-preto: #191919;
  --clr-branco: #eef2f5;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: var(--clr-preto);
}

.links {
  background-color: var(--clr-vermelho);
  width: fit-content;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: var(--clr-branco);
  text-decoration: none;
  font-size: 14px;
}

.links:hover {
  transform: scale(1.03);
}

.w-100 {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;

  padding: 2rem 1.5rem;
}

section > h2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;

  text-transform: uppercase;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-preto);
  color: var(--clr-branco);
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
  font-size: 22px;
  font-weight: 500;
}

header nav {
  display: none;
  align-items: center;
  gap: 1.5rem;
}

header nav a {
  color: var(--clr-branco);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  header nav {
    display: flex;
  }
}

/* HOME */

#home {
  justify-content: center;
  padding: 0;
  height: 706px;
}

#home img {
  display: none;
}

.home-heading {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.home-heading > p {
  line-height: 150%;
  margin: 0;
}

.home-cta {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
  height: 400px;
  padding-inline: 1.5rem;
  background-repeat: no-repeat;
  background-position: -20px;
  background-size: 300px;
  background-image: url("../img/Darth-IMG.png");
}

@media screen and (min-width: 1024px) {
  #home {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #home > img {
    display: block;
    width: 444px;
    height: 444px;
  }

  .home-cta {
    background-image: none;
  }
}

/* SOBRE */
#sobre {
  gap: 1rem;
  background-color: var(--clr-preto);
  color: var(--clr-branco);
}

.sobre-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.mobile-sobre > img {
  border-radius: 12px;
  width: 100%;
}

.desktop-sobre {
  display: none;
}

.desktop-sobre img {
  max-width: 460px;
}

.desktop-sobre .sobre-links {
  max-width: 460px;
}
@media screen and (min-width: 1024px) {
  .mobile-sobre {
    display: none;
  }
  .desktop-sobre {
    display: flex;
    flex-direction: row;
    gap: 92px;
  }
  .sobre-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .desktop-sobre h2 {
    margin: 0;
  }
}
/* projetos */
#projetos {
  gap: 1.5rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card {
  background-color: var(--clr-preto);
  color: var(--clr-branco);
  padding: 1.25rem;
  border-radius: 4px;
  max-width: 200px;
}

.card > img {
  width: 100%;
  border-radius: 12px;
}

.card > h3 {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  #projetos {
    align-items: center;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Serviços e conhecimentos */
#servicos {
  background-color: var(--clr-preto);
  color: var(--clr-branco);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.base-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.base-list > li {
  background-color: var(--clr-vermelho);
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicos-list {
  gap: 1rem;
  flex-direction: column;
}

.conhecimentos-list {
  flex-wrap: wrap;
  gap: 20px;
}

.conhecimentos-list > li {
  height: 72px;
  width: 72px;
}

.conhecimentos-list > li > img {
  width: 72px;
}

@media screen and (min-width: 1024px) {
  #servicos {
    flex-direction: row;
  }

  .servicos-list {
    flex-direction: column;
  }

  #servicos > div {
    flex-basis: 50%;
  }

  .servicos-list > li {
    justify-content: start;
    height: 64px;
    max-width: 320px;
  }
}

/* Contato */
#contato {
  gap: 3rem;
  padding-block: 5rem;
}

#contato > h2 {
  margin: 0;
}

#contato > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

#contato > ul > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  font-weight: 500;
}

#contato a {
  color: var(--clr-preto);
  text-decoration: none;
}

#contato > cite {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  #contato {
    align-items: center;
  }
}

/* footer */
footer {
  background-color: var(--clr-vermelho);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--clr-preto);
  text-align: center;
  gap: 0.5rem;

  font-size: 16px;
  font-weight: 300;
}

footer img {
  height: 24px;
  padding-block: 1.5rem;
}
